@import '@/assets/styles/lib';

.UserInfo {
    display: contents;
    .Modal__container {
        width: 600px;
        padding: 60px 114px;
        @include mobile {
            padding: 60px 30px;
        }
    }
    .Button {
        width: 150px;
        align-self: center;
    }
    &__avatar {
        display: flex;
    }
    &__picture {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 35px;
    }
    &__name {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 25px;
        color: #334144;
        align-self: center;
    }
    &__sightings {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        color: #949ea0;
    }
    table {
        margin-top: 50px;
        tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            text-align: left;
            th {
                font-size: 10px;
                line-height: 10px;
                color: $textColor;
            }
            td {
                margin-top: 16px;
                font-size: 18px;
                line-height: 13px;
                color: #334144;
            }
        }
    }
    &__profile {
        display: flex;
        flex-direction: column;
    }
}
