<nav class="Navbar">
    <a href="" class="Navbar__logo">
        <img src="@/assets/logo.svg" alt="" />
    </a>
    <div class="Navbar__collapse collapse">
        <img
            src="@/assets/icons/mm_hamburger.svg"
            alt="hamburger"
            class="Navbar__hamburger"
            @click="showMenu = !showMenu"
            v-if="!showMenu"
        />
        <img
            src="@/assets/icons/pl-icon-close.svg"
            alt="hamburger"
            class="Navbar__hamburger"
            @click="showMenu = !showMenu"
            v-if="showMenu"
        />
        <ul class="Navbar__list Navbar__listActive" v-if="showMenu">
            <li>Flowers</li>
            <li>Latest Sightings</li>
            <li>Favorites</li>
            <div class="Navbar__userProfile" :class="{ 'displayNone': $store.state.users.user !== null }" v-if="true">
                <li>
                    <a @click="loginModalVisible = true" class="Login__text" buttonText="Login to your Account"
                        >Login</a
                    >
                    <login-component :modalVisible="loginModalVisible" @hideModal="loginModalVisible = false" />
                </li>
                <li>
                    <signup-component />
                </li>
            </div>
            <template v-if="$store.state.users.user !== null">
                <user-info-component />
            </template>
        </ul>
    </div>
</nav>
