<div class="Register">
    <button-component @click="modalVisible = true" class="Register__button" :buttonText="'New Account'" />
    <modal-component v-if="modalVisible" :buttonText="'Register to your Account'" @clickOutside="modalVisible = false">
        <template v-slot:header>
            <h1>Create an Account</h1>
        </template>
        <template v-slot:body>
            <form class="Register__form" @submit="onSubmit" :validation-schema="schema">
                <input-component type="text" name="first_name" label="First Name" />
                <input-component type="text" name="last_name" label="Last Name" />
                <input-component type="text" name="date_of_birth" label="Date of Birth" />
                <input-component type="email" name="email" label="Email Address" />
                <input-component type="password" name="password" label="Password" />

                <div class="Register__errorMessage" v-if="errorMessage">{{ errorMessage }}</div>

                <button-component class="Register__createAccountButton" :buttonText="'Create Account'" />
            </form>
        </template>
    </modal-component>
</div>
