@import '@/assets/styles/lib';

.Login {
    .Modal__container {
        width: 440px;
    }
    &__successButtons {
        display: flex-end;
        button:first-child {
            margin-right: 15px;
        }
    }
    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: right;
        color: #df9186;
    }
    &__button {
        width: 100%;
        margin-top: 10px;
    }
    &__errorMessage {
        color: #f23648;
        cursor: default;
    }
}
